@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-weight: 750;
    font-size: 25px;
    align-items: center;
    padding-left: 5px ;
}

.txt2 {
    font-size: 11px;
    color: #b6b6b6;
}

.txt1 {
    font-size: 12px;
    color: rgb(224, 139, 28);
    padding-left: 5px ;
}
.input-title {
    font-size: 13px;
}

.frm-input{
    border-color: #e7e7e7;
}

.header {
    border: 0;
}

.footer {
    align-items: center;
    border: 0;
    margin: 0 auto;
}

.signup-btn {
    font-weight: 500;
    font-size: 13px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, #f3145e, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #f3145e, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #f3145e, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #f3145e, yellow); /* Standard syntax (must be last) */
    border: 0;
    border-radius: 25px;

}

.signIn-btn {
    width: 150px;
    font-weight: 500;
    font-size: 13px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, #f3145e, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #f3145e, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #f3145e, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #f3145e, yellow); /* Standard syntax (must be last) */
    border: 0;
    border-radius: 25px;
}

.fb-login {
    font-size: x-large;
    fill:  #2651F1;
}

.twt-login {
    font-size: x-large;
    fill: #32C5DA;
}

.google-login {
    font-size: x-large;
    fill: #DB1E15;
}